@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Rampart+One&display=swap');


body{
    display: flex;
    flex-direction: column;
    align-items: center;   
   }

#message {
    font-family: 'Rampart One', cursive;
    color: green;
    font-size: 6rem
}

p{
    font-family: 'Luckiest Guy', cursive;
    font-size: 4rem;
    color: green;
}

.navbar {
  width: 100%;
}

