@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Luckiest+Guy&family=Rampart+One&family=Tourney:ital,wght@0,900;1,900&display=swap');


#message {
    font-family: 'Tourney', cursive;
    color: green;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}



#form-text{
    font-family: Arial, Helvetica, sans-serif, cursive;
  

}
.navbar {
  width: 100%;
}

/*----------------------Profile page----------------------*/

#profile_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}